In [111]:
import math
class Triangle:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
        if self.a <= 0 or self.b <= 0 or self.c <= 0:
            raise ValueError("Sides of triangle cannot be negative or zero")
        if not self.is_triangle():
            raise ValueError("Sum of any two sides should be greater than the third")
        
    def __str__(self):
        return f"Triangle(a = {self.a}, b = {self.b}, c= {self.c} )"
        
    def is_triangle(self):
        return (
                self.a + self.b > self.c and
                self.b + self.c > self.a and
                self.a + self.c > self.b
            )
        
    def perimeter(self):
        return self.a + self.b + self.c
        
    def area(self):
        s = self.perimeter()/ 2
        return math.sqrt(s*(s-self.a)*(s - self.b)*(s - self.c))

In [112]:
t1 = Triangle(a= 3, b= 4, c=5)
print(t1)

Triangle(a = 3, b = 4, c= 5 )

In [113]:
t1.a

3

In [114]:
t1.b

4

In [115]:
t1.c

5

In [116]:
t1.is_triangle()

True

In [117]:
t1.perimeter()

12

In [118]:
t1.area()

6.0

In [119]:
t2 = Triangle(a= 11, b= 12, c= 13)
print(t2)

Triangle(a = 11, b = 12, c= 13 )

In [120]:
t2.is_triangle()

True

In [121]:
t2.perimeter()

36

In [122]:
t2.area()

61.48170459575759

In [123]:
tr = [
    Triangle(a=13, b=14, c=15),
    Triangle(a=3,b=4, c=5),
    Triangle(a=12, b=13, c=14)
]

In [124]:
for i in tr:
    print(i)
    print(f"Perimeter: {i.perimeter()}")
    print(f"Area: {i.area()}")
    print("="*40)

Triangle(a = 13, b = 14, c= 15 )
Perimeter: 42
Area: 84.0
========================================
Triangle(a = 3, b = 4, c= 5 )
Perimeter: 12
Area: 6.0
========================================
Triangle(a = 12, b = 13, c= 14 )
Perimeter: 39
Area: 72.30793524918272
========================================

Polymorphism

In [125]:
a = "Uday"
print(type(a))
print(len(a))

<class 'str'>
4

In [126]:
b = (1, 2, 3, 4, 5)
print(type(b))
print(len(b))

<class 'tuple'>
5

In [127]:
c = [2, 3, 4, 5, 6, 7, 8]
print(type(c))
print(len(c))

<class 'list'>
7

In [128]:
d = {
    "a": 12, "b": 13, "c": 14}
print(type(d))
print(len(d))

<class 'dict'>
3

In [129]:
import pandas as pd
df = pd.DataFrame(
    {
        "First": ["Uday", "Sayali", "Deepa"],
        "Last": ["Yallatti", "Patil", "Kodale"]
    }
)
df

    First      Last
0    Uday  Yallatti
1  Sayali     Patil
2   Deepa    Kodale

In [130]:
len(df)

3

In [131]:
a = "String1"
b = "String2"
print(a + ( b))

String1String2

In [132]:
a = [1, 2, 3, 4]
print(a*4)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [133]:
class India:
     
    def capital(self):
        print("New Delhi is capital of India")
    def language(self):
        print("Hindi is widely spoken language in India")

In [134]:
class USA:

    def capital(self):
        print("Washington is capital of USA")
    def language(self):
        print("English is widely spoken langauge in USA")

In [135]:
class France:
    def capital(self):
        print("Paris is capital of France")
    def language(self):
        print("French is widely spoken langauge in France")

In [136]:
c1 = India()
c1.capital()
c1.language()

New Delhi is capital of India
Hindi is widely spoken language in India

In [137]:
c2 = USA()
c2.capital()
c2.language()

Washington is capital of USA
English is widely spoken langauge in USA

In [138]:
c3 = France()
c3.capital()
c3.language()

Paris is capital of France
French is widely spoken langauge in France

In [139]:
countries = [India(), USA(), France()]

for i in countries:
    print(type(i))
    i.capital()
    i.language()
    print("="*40)

<class '__main__.India'>
New Delhi is capital of India
Hindi is widely spoken language in India
========================================
<class '__main__.USA'>
Washington is capital of USA
English is widely spoken langauge in USA
========================================
<class '__main__.France'>
Paris is capital of France
French is widely spoken langauge in France
========================================

In [146]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def perimeter(self):
        return 2*(self.width + self.height)
    
    def area(self):
        return self.width * self.height

In [147]:
import math
print(math.pi)

3.141592653589793

In [148]:
class Circle:
    def __init__(self, radius):
        self.radius = radius

    def perimeter(self):
        return 2*math.pi*self.radius
    
    def area(self):
        return math.pi*(self.radius**2)

In [150]:
shapes = [
    Triangle(a = 12, b = 13, c = 14),
    Circle(radius = 15),
    Rectangle(width=25, height=30),
    Circle(radius = 21),
    Triangle(a = 11, b = 12, c = 13)
]

for i in shapes:
    p = i.perimeter()
    a = i.area()
    print(type(i))
    print(f"Perimeter: {p}")
    print(f"Area: {a}")
    print("========================")

<class '__main__.Triangle'>
Perimeter: 39
Area: 72.30793524918272
========================
<class '__main__.Circle'>
Perimeter: 94.24777960769379
Area: 706.8583470577034
========================
<class '__main__.Rectangle'>
Perimeter: 110
Area: 750
========================
<class '__main__.Circle'>
Perimeter: 131.94689145077132
Area: 1385.4423602330987
========================
<class '__main__.Triangle'>
Perimeter: 36
Area: 61.48170459575759
========================

In [153]:
t1 = Triangle(a=12, b=13, c=14)
print(t1.area())
print(t1.perimeter())

72.30793524918272
39

In [154]:
r1 = Rectangle(width=20, height= 25)
print(r1.perimeter())
print(r1.area())

90
500

In [155]:
c1 = Circle(radius=15)
print(c1.perimeter())
print(c1.area())

94.24777960769379
706.8583470577034