In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
class Person:
    def __init__(self, name: str, age: int):
        self.name = name
        self.age = age

    def intro(self):
        print(f"My name is {self.name}")
        print(f"I am {self.age} years old")

In [13]:
class Employee(Person):
    def __init__(self, name: str, age:int, company: str):
        super().__init__(name, age)
        self.company = company

    def work(self):
        print(f"I work at {self.company}")

In [14]:
p1 = Person(name= "Uday", age=29)
type(p1)

__main__.Person

In [15]:
p1.name

'Uday'

In [16]:
p1.age

29

In [17]:
p1.intro()

My name is Uday
I am 29 years old

In [18]:
e1 = Employee(name="Sayali", age=29, company="L&T")

In [19]:
e1.name

'Sayali'

In [20]:
e1.age

29

In [21]:
e1.company

'L&T'

In [22]:
e1.work()

I work at L&T

In [23]:
e1.intro()

My name is Sayali
I am 29 years old

In [24]:
e1.intro()
e1.work()

My name is Sayali
I am 29 years old
I work at L&T

In [25]:
!uv add pydantic

Resolved 132 packages in 20ms
Audited 128 packages in 1.43s

In [27]:
from pydantic import BaseModel, Field
from typing import Literal


class Student(BaseModel):
    name: str = Field(max_length=20)
    age: int = Field(ge=18, le=60)
    marks: float = Field(ge=0, le=100)
    gender: Literal["male", "female"]
    hobbies: list[str] = Field(default_factory=list)

    def get_info(self):
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")
        print(f"Marks: {self.marks}")
        print(f"Gender: {self.gender}")
        print(f"Hobbies: {self.hobbies}")

In [28]:
s1 = Student(name="Uday", age=29, marks=80.3, gender="male", hobbies=["Music", "Cricket"])
type(s1)

__main__.Student

In [29]:
s1.name

'Uday'

In [30]:
s1.age

29

In [31]:
s1.marks

80.3

In [32]:
s1.gender

'male'

In [33]:
s1.hobbies

['Music', 'Cricket']

In [34]:
s1.get_info()

Name: Uday
Age: 29
Marks: 80.3
Gender: male
Hobbies: ['Music', 'Cricket']

In [40]:
class BaseSalary:
    def __init__(self, base_sal: float):
        self.base_sal = base_sal

    def get_base_salary(self) -> float:
        return self.base_sal

In [41]:
class Bonus:
    def __init__(self, per_bonus: float):
        self.per_bonus = per_bonus

    def calculate_bonus(self, base_sal: float) -> float:
        return (self.per_bonus/ 100) * base_sal

In [49]:
class Tax:
    def __init__(self, per_tax: float):
        self.per_tax = per_tax

    def calculate_tax(self, gross_sal:float) -> float:
        return (self.per_tax/ 100)* gross_sal

In [50]:
class TotalSalary(BaseSalary, Bonus, Tax):

    def __init__(self, base_sal:float, per_bonus:float, per_tax:float):
        BaseSalary.__init__(self, base_sal)
        Bonus.__init__(self, per_bonus)
        Tax.__init__(self, per_tax)
    

    def get_net_salary(self):
        print(f"Base Salary : {self.base_sal:.2f} INR")
        bonus = Bonus.calculate_bonus(self, self.base_sal)
        print(f"Bonus Amount: {bonus:.2f} INR")
        gross_sal = self.base_sal + bonus
        print(f"Gross Salary: {gross_sal:.2f} INR")
        tax = Tax.calculate_tax(self, gross_sal)
        print(f"Tax: {tax:.2f} INR")
        net_sal = gross_sal - tax
        print(f"Net salary : {net_sal:.2f} INR")

In [51]:
s = TotalSalary(base_sal=50000, per_bonus=25, per_tax=10)

In [52]:
s.base_sal

50000

In [53]:
s.get_net_salary()

Base Salary : 50000.00 INR
Bonus Amount: 12500.00 INR
Gross Salary: 62500.00 INR
Tax: 6250.00 INR
Net salary : 56250.00 INR

In [54]:
class Employees:
    def __init__(self, name, emp_id):
        self.name = name
        self.emp_id = emp_id

    def get_employees_info(self):
        print(f"Employees ID: {self.emp_id}, Name: {self.name}")

In [55]:
class Manager(Employees):
    def __init__(self, name, emp_id, dept):
        super().__init__(name, emp_id)
        self.dept = dept

    def get_manager_dept(self):
        print(f"Managers department: {self.dept}")

In [56]:
class ProjectManager(Manager):
    def __init__(self, name, emp_id, dept, project_name):
        super().__init__(name, emp_id, dept)
        self.project_name = project_name

    def get_project_info(self):
        print(f"Project: {self.project_name}")

In [57]:
e1 = Employees(name= "Uday", emp_id=103)

In [58]:
e1.get_employees_info()

Employees ID: 103, Name: Uday

In [59]:
m1 = Manager(name="Uday", emp_id=105, dept="HR")

In [61]:
m1.get_employees_info()
m1.get_manager_dept()

Employees ID: 105, Name: Uday
Managers department: HR

In [62]:
p1 = ProjectManager(name="Sayali", emp_id=110, dept="Developer", project_name="Prudential")

In [63]:
p1.get_employees_info()
p1.get_manager_dept()
p1.get_project_info()

Employees ID: 110, Name: Sayali
Managers department: Developer
Project: Prudential

In [68]:
class Shape:

    def perimeter(self):
        pass

    def area(self):
        pass

    
    def print_area_perimeter(self):
        print(f"Perimeter : {self.perimeter():.2f}, Area: {self.area():.2f}")

In [69]:
class Rectangle(Shape):

    def __init__(self, width , height):
        self.width = width
        self.height = height

    def perimeter(self):
        return 2* (self.width + self.height)
    
    def area(self):
        return self.width* self.height

In [74]:
import math

class Circle(Shape):
    def __init__(self, radius):
          self.radius = radius

    def perimeter(self):
         return 2* math.pi* self.radius
    
    def area(self):
         return math.pi*(self.radius**2)

In [75]:
s = [
    Rectangle(width=30, height=15),
    Circle(radius=20),
    Circle(radius=24),
    Rectangle(width=50, height=25),
    Circle(radius=35)
]

In [76]:
for i in s:
    print(type(i))
    i.print_area_perimeter()
    print("="*40)

<class '__main__.Rectangle'>
Perimeter : 90.00, Area: 450.00
========================================
<class '__main__.Circle'>
Perimeter : 125.66, Area: 1256.64
========================================
<class '__main__.Circle'>
Perimeter : 150.80, Area: 1809.56
========================================
<class '__main__.Rectangle'>
Perimeter : 150.00, Area: 1250.00
========================================
<class '__main__.Circle'>
Perimeter : 219.91, Area: 3848.45
========================================